<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body id="body">
  <div class="background">
    <div class="title">ꋪꋬ꒦ꏂꋊꇙ ꊰ꒒ꄲꉔꀘ</div>

    <div class="flocks">
      <div class="flock" id="obsidian">
        <div class="flockName">RF Obsidian</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.obsidian}}</li>
            <li>{{descGreek.obsidian}}</li>
            <li>{{descWarLvl.obsidian}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="regal">
        <div class="flockName">RF Regal</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.regal}}</li>
            <li>{{descGreek.regal}}</li>
            <li>{{descWarLvl.regal}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="crimson">
        <div class="flockName">RF Crimson</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.crimson}}</li>
            <li>{{descGreek.crimson}}</li>
            <li>{{descWarLvl.crimson}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="flamingo">
        <div class="flockName">RF Flamingo</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.flamingo}}</li>
            <li>{{descGreek.flamingo}}</li>
            <li>{{descWarLvl.flamingo}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="frost">
        <div class="flockName">RF Frost</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.frost}}</li>
            <li>{{descGreek.frost}}</li>
            <li>{{descWarLvl.frost}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="cobalt">
        <div class="flockName">RF Cobalt</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.cobalt}}</li>
            <li>{{descGreek.cobalt}}</li>
            <li>{{descWarLvl.cobalt}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="emerald">
        <div class="flockName">RF Emerald</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.emerald}}</li>
            <li>{{descGreek.emerald}}</li>
            <li>{{descWarLvl.emerald}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="cobbler">
        <div class="flockName">RF Cobbler</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.cobbler}}</li>
            <li>{{descGreek.cobbler}}</li>
            <li>{{descWarLvl.cobbler}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="solar">
        <div class="flockName">RF Solar</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.solar}}</li>
            <li>{{descGreek.solar}}</li>
            <li>{{descWarLvl.solar}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="wind">
        <div class="flockName">RF Wind</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.wind}}</li>
            <li>{{descGreek.wind}}</li>
            <li>{{descWarLvl.wind}}</li>
          </ul>
        </div>
      </div>
      <div class="flock" id="artic">
        <div class="flockName">RF Artic</div>
        <div class="flockDesc">
          <ul>
            <li>{{descRaid.artic}}</li>
            <li>{{descGreek.artic}}</li>
            <li>{{descWarLvl.artic}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <ul id="footerList">
        <li>ALL TCP ARE WELCOME</li>
        <li>Join our discord: discord.gg/228VByUSua</li>
      </ul>
    </div>
  </div>
</body>
</html>
